<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>My Bookings</title>
</head>
<body>
    {% if user.is_authenticated %}
    <style>
        
            .user{
                font-weight: 600;
                
                font-size: 20px;
                font-family: sans-serif;
            }
         </style>
    {% endif %}
    <div class="jumboothon container">
        <ul class="nav justify-content-center">
            <li class="">
              <a class="nav-link active nav-brand" href="{% url 'basicapp:index' %}">HOME</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item user">Hello, {{user.first_name}}</li>
                <li class="nav-link"><a href="logout">Logout</a></li>
                {% endif %}
          </ul>
    <h1 class="alert alert-primary" role="alert" align="center">Here's a list of all your bookings</h1>
    {% if user.is_authenticated %}
    {% if bookings %}
    
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Starting Point</th>
            <th scope="col">Ending Point</th>
        </thead>
        {% for book in bookings %}

        {% ifequal user.username book.user %}
        <tr>
            <td scope="col">
                {{ book.date }}
            </td>
            <td scope="col">
                {{ book.cht }}
            </td>
            <td scope="col">{{ book.check }}</td>
            <td scope="col">{{ book.end }}</td>
        </tr>
        {% endifequal %}
        {% endfor %}
    </table>
    </div>
    {% else %}
    <p>NO RECORDS</p>
    {% endif %}
    {% endif %}
</body>
</html>